<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
  <nav>
    <a routerLink="/vehiculo/agregar" routerLinkActive="active">Agregar Vehiculo</a>
    <a routerLink="/vehiculo/listar" routerLinkActive="active">Listar Vehiculos</a>
    <a routerLink="/vehiculo/factura" routerLinkActive="active">factura</a>
  </nav>
  <div id="main" class="container" role="main">
      <div class="row">
        <br>
          <router-outlet>  </router-outlet>
      </div>
  </div>

</div>



